<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.catfist.listacular</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>04B611D2-60C3-4A45-974E-14FB1E645891</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D37322B4-A2B5-4A97-99D8-B35D65739A9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>18EC313A-B832-41EC-B78A-93BAC10DB181</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1BD61970-6BDD-4F3A-9C4E-9166B14B5D7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>305B59D7-7360-4D42-AC5B-AA904C714A48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18EC313A-B832-41EC-B78A-93BAC10DB181</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>33D11BA4-138A-483F-89EA-1C7C09466AFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8A3DDE7-64E6-4FC8-8FA6-8A6BEDD15E46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>40179C3B-2B9E-4BFE-8C44-FB25EBB7A799</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>48D55CE6-B198-490E-9113-11D164AE2B86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40179C3B-2B9E-4BFE-8C44-FB25EBB7A799</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BD61970-6BDD-4F3A-9C4E-9166B14B5D7C</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D37322B4-A2B5-4A97-99D8-B35D65739A9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>catfist</string>
	<key>description</key>
	<string>Add task to Listacular</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Add to Listacular</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>lc</string>
				<key>script</key>
				<string>LANG=ja_JP.UTF-8
q="{query}"

IFS=','
set -- $q

tsk="$1"
dat="$2"
tim="$3"

if echo "$q" | grep -q @n; then
  type=Note
  pre=""
  task=`echo "${tsk}" | sed 's/@n//'`
else
  type=Task
  pre="- "
  if echo "${dat}${tim}" | grep -q [0-9]; then
      [ `echo "$dat" | grep "^+[0-9]\+$"` ];RP=$?
      [ `echo "$dat" | grep "^[0-9]\{1,2\}$"` ];RD=$?
      [ `echo "$dat" | grep "^[0-9]\{1,2\}-[0-9]\{1,2\}$"` ];RM=$?
      [ `echo "$dat" | grep "^[0-9]\{4\}-[0-9]\{1,2\}-[0-9]\{1,2\}$"` ];RY=$?
      case "${RP}${RD}${RM}${RY}" in
        0111)
          dat=`date -v${dat}d '+%Y-%m-%d'`
        ;;
        1011)
          dat=`echo -n 0$dat | tail -c 2`
          if [ "$dat" -lt `date '+%d'` ];then
            month=`date -v+1m '+%Y-%m'`
          else
            month=`date '+%Y-%m'`
          fi
          dat="$month"-"$dat"
        ;;
        1101)
          dat=`expr "0${dat}" : '[0-9]*\([0-9]\{2\}\)-'`-`echo $dat | sed -e 's/^[0-9]*-//' -e 's/^/0/' | tail -c 3`
          if [ `echo "$dat" | tr -dc [0-9]` -lt `date '+%m%d'` ];then
            year=`date -v+1y '+%Y'`
          else
            year=`date '+%Y'`
          fi
          dat="$year"-"$dat"
        ;;
        1110)
          dat=`echo "${dat}" | head -c 4`-`echo "$dat" | sed -e 's/^[0-9]*-[0-9]\{1,2\}-//' -e 's/^/0/' | tail -c 3`-`echo ${dat} | sed -e 's/^[0-9]*-[0-9]*-//' -e 's/^/0/' | tail -c 3`
        ;;
      esac
    if [ -z "${tim}" ]; then
      tag="@due(${dat} 23:59)"
    else
      if echo "${tim}" | grep -q "^[0-9]\{1,2\}$";then
        tim=`echo "0${tim}:00" | tail -c 6`
      fi
      if echo "${tim}" | grep -q "^[0-9]\{3,4\}$";then
        tim=`echo 0${tim}| tail -c 5 | sed 's/\(..\)$/:\1/'`
      fi
      if echo "$tim" | grep -q '^[0-9]*[mh]$';then
        tim=`echo $tim | tr h,m H,M`
        tim=`date -v+${tim} '+%H:%M'`
      fi
      if [ -z "${dat}" ]; then
        dat=`date '+%Y-%m-%d'`
      fi
      tag="@remind(${dat} ${tim})"
    fi
  else
    tag=""
  fi
fi

add=`echo "${tsk} ${tag}" | sed -e 's/&amp;/\&amp;amp;/g' -e 's/&lt;/\&amp;lt;/g' -e 's/&gt;/\&amp;gt;/g' -e "s/'/\&amp;apos;/g" -e 's/"/\&amp;quot;/g'`
cat &lt;&lt; EOB
&lt;?xml version="1.0"?&gt;
    &lt;items&gt;
        &lt;item uid="Listacular" arg="${type},${pre},${add}" valid="YES" &gt;
            &lt;title&gt;${type}: ${add}&lt;/title&gt;
        &lt;/item&gt;
    &lt;/items&gt;
EOB</string>
				<key>subtext</key>
				<string>task,date,time</string>
				<key>title</key>
				<string>Add to Listacular</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>305B59D7-7360-4D42-AC5B-AA904C714A48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>todotxt=`cat path | sed "s%~%$HOME%"`
IFS=','
read type pre task &lt;&lt;&lt; "{query}"

l1=`tail -c 1 $todotxt`
if [ -n "$l1" ];then
echo "" &gt;&gt; $todotxt
fi
echo -n "${pre}${task}" &gt;&gt; $todotxt

echo "${type}: ${task}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>18EC313A-B832-41EC-B78A-93BAC10DB181</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Add to Listacular</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string># Add gsed to 'PATH'
PATH=$PATH:/usr/local/bin
todotxt=`cat path | xargs echo -n`
q="{query}"
num="${q%%,*}"

task=`sed -n ${num}p $todotxt | sed 's/- //'`
gsed -in "${num}s/^- /x /" $todotxt
echo "done: $task"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>40179C3B-2B9E-4BFE-8C44-FB25EBB7A799</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>ls</string>
				<key>script</key>
				<string>todotxt=`cat path | xargs echo -n`

query="{query}"

IFS=','
read q dat tim &lt;&lt;&lt; "$query"

if echo "${dat}${tim}" | grep -q [0-9]; then
    [ `echo "$dat" | grep "^+[0-9]\+$"` ];RP=$?
    [ `echo "$dat" | grep "^[0-9]\{1,2\}$"` ];RD=$?
    [ `echo "$dat" | grep "^[0-9]\{1,2\}-[0-9]\{1,2\}$"` ];RM=$?
    [ `echo "$dat" | grep "^[0-9]\{4\}-[0-9]\{1,2\}-[0-9]\{1,2\}$"` ];RY=$?
    case "${RP}${RD}${RM}${RY}" in
      0111)
        dat=`date -v${dat}d '+%Y-%m-%d'`
      ;;
      1011)
        dat=`echo -n 0$dat | tail -c 2`
        if [ "$dat" -lt `date '+%d'` ];then
          month=`date -v+1m '+%Y-%m'`
        else
          month=`date '+%Y-%m'`
        fi
        dat="$month"-"$dat"
      ;;
      1101)
        dat=`expr "0${dat}" : '[0-9]*\([0-9]\{2\}\)-'`-`echo $dat | sed -e 's/^[0-9]*-//' -e 's/^/0/' | tail -c 3`
        if [ `echo "$dat" | tr -dc [0-9]` -lt `date '+%m%d'` ];then
          year=`date -v+1y '+%Y'`
        else
          year=`date '+%Y'`
        fi
        dat="$year"-"$dat"
      ;;
      1110)
        dat=`echo "${dat}" | head -c 4`-`echo "$dat" | sed -e 's/^[0-9]*-[0-9]\{1,2\}-//' -e 's/^/0/' | tail -c 3`-`echo ${dat} | sed -e 's/^[0-9]*-[0-9]*-//' -e 's/^/0/' | tail -c 3`
      ;;
    esac
  if [ -z "${tim}" ]; then
    tag="@due(${dat} 23:59)"
  else
    if echo "${tim}" | grep -q "^[0-9]\{1,2\}$";then
      tim=`echo "0${tim}:00" | tail -c 6`
    fi
    if echo "${tim}" | grep -q "^[0-9]\{3,4\}$";then
      tim=`echo 0${tim}| tail -c 5 | sed 's/\(..\)$/:\1/'`
    fi
    if echo "$tim" | grep -q '^[0-9]*[mh]$';then
      tim=`echo $tim | tr h,m H,M`
      tim=`date -v+${tim} '+%H:%M'`
    fi
    if [ -z "${dat}" ]; then
      dat=`date '+%Y-%m-%d'`
    fi
    tag="@remind(${dat} ${tim})"
  fi
  modst="New tag: $tag"
else
  modst="Input new due date,time"
fi

IFS=$'\n'

cat &lt;&lt; EOB
&lt;?xml version="1.0"?&gt;
    &lt;items&gt;
EOB

for task in `grep -in "^- .*$q" "$todotxt"`
do
text=`echo $task | sed -e 's/^[0-9]*:- //' -e 's/&amp;/\&amp;amp;/g' -e 's/&lt;/\&amp;lt;/g' -e 's/&gt;/\&amp;gt;/g' -e "s/'/\&amp;apos;/g" -e 's/"/\&amp;quot;/g'`
num=`echo $task | sed 's/\(^[0-9]*\):.*/\1/'`
cat &lt;&lt; EOB
        &lt;item uid="Listacular" arg="${num},${tag}" valid="YES" &gt;
            &lt;title&gt;${num}: ${text}&lt;/title&gt;
            &lt;subtitle&gt;Make task done&lt;/subtitle&gt;
            &lt;subtitle mod="ctrl"&gt;${modst}&lt;/subtitle&gt;
        &lt;/item&gt;
EOB
done

cat &lt;&lt; EOB
    &lt;/items&gt;
EOB

</string>
				<key>subtext</key>
				<string>Make tasks done/(^)Set new Tag</string>
				<key>title</key>
				<string>Listacular: search Todo.txt</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>48D55CE6-B198-490E-9113-11D164AE2B86</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string># Add gsed to 'PATH'
PATH=$PATH:/usr/local/bin
todotxt=`cat path | xargs echo -n`
IFS=','

if echo "{query}" | grep -q '^[0-9]\+,@[due|remind]';then
  read num tag &lt;&lt;&lt; "{query}"
  gsed -i -e "${num}s/@[remind|reminded|due]\(.*\)//g" -e "${num}s/$/ ${tag}/" $todotxt
  task=`sed -n ${num}p  $todotxt | sed 's/^- //'`
  echo "New Tag seted: $task"
else
  echo "ERROR: Undifined Tag"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BD61970-6BDD-4F3A-9C4E-9166B14B5D7C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string># Add gsed to 'PATH'
PATH=$PATH:/usr/local/bin
todotxt=`cat path | sed "s%~%$HOME%"`
donetxt=${todotxt%/*}/done.txt

echo "Archived:"
gsed -n 's/^x //gp' $todotxt

grep '^x ' $todotxt &gt;&gt; $donetxt
gsed -i '/^x /d' $todotxt

gsed -n '$p' $todotxt | (gsed -i '$d' $todotxt; xargs echo -n &gt;&gt; $todotxt)</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D37322B4-A2B5-4A97-99D8-B35D65739A9E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>lcdone</string>
				<key>text</key>
				<string>Archive done task</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>04B611D2-60C3-4A45-974E-14FB1E645891</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lsetup</string>
				<key>text</key>
				<string>Enter your Todo.txt path to Argument</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>33D11BA4-138A-483F-89EA-1C7C09466AFF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>echo "{query}" &gt; path</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8A3DDE7-64E6-4FC8-8FA6-8A6BEDD15E46</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred text format: 'lc task,date,time'

Further details can be viewed at the following URL.

http://github.com/catfist/Alfred-Add-to-Listacular</string>
	<key>uidata</key>
	<dict>
		<key>04B611D2-60C3-4A45-974E-14FB1E645891</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>18EC313A-B832-41EC-B78A-93BAC10DB181</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1BD61970-6BDD-4F3A-9C4E-9166B14B5D7C</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>305B59D7-7360-4D42-AC5B-AA904C714A48</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>33D11BA4-138A-483F-89EA-1C7C09466AFF</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>40179C3B-2B9E-4BFE-8C44-FB25EBB7A799</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>48D55CE6-B198-490E-9113-11D164AE2B86</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>D37322B4-A2B5-4A97-99D8-B35D65739A9E</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>D8A3DDE7-64E6-4FC8-8FA6-8A6BEDD15E46</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/catfist/Alfred-Add-to-Listacular</string>
</dict>
</plist>
