<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.catfist.listacular</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>04B611D2-60C3-4A45-974E-14FB1E645891</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D37322B4-A2B5-4A97-99D8-B35D65739A9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>18EC313A-B832-41EC-B78A-93BAC10DB181</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1BD61970-6BDD-4F3A-9C4E-9166B14B5D7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>305B59D7-7360-4D42-AC5B-AA904C714A48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18EC313A-B832-41EC-B78A-93BAC10DB181</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>33D11BA4-138A-483F-89EA-1C7C09466AFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8A3DDE7-64E6-4FC8-8FA6-8A6BEDD15E46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>40179C3B-2B9E-4BFE-8C44-FB25EBB7A799</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>48D55CE6-B198-490E-9113-11D164AE2B86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40179C3B-2B9E-4BFE-8C44-FB25EBB7A799</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BD61970-6BDD-4F3A-9C4E-9166B14B5D7C</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D37322B4-A2B5-4A97-99D8-B35D65739A9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>catfist</string>
	<key>description</key>
	<string>Add task to Listacular</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Add to Listacular</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>lc</string>
				<key>script</key>
				<string>./lc.sh "{query}"</string>
				<key>subtext</key>
				<string>task,date,time</string>
				<key>title</key>
				<string>Add to Listacular</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>305B59D7-7360-4D42-AC5B-AA904C714A48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./lcrun.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>18EC313A-B832-41EC-B78A-93BAC10DB181</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Add to Listacular</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./lsrun1.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>40179C3B-2B9E-4BFE-8C44-FB25EBB7A799</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>ls</string>
				<key>script</key>
				<string>./ls.sh "{query}"</string>
				<key>subtext</key>
				<string>Make tasks done/(^)Set new Tag</string>
				<key>title</key>
				<string>Listacular: search Todo.txt</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>48D55CE6-B198-490E-9113-11D164AE2B86</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./lsrun2.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BD61970-6BDD-4F3A-9C4E-9166B14B5D7C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./lcdonerun.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D37322B4-A2B5-4A97-99D8-B35D65739A9E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>lcdone</string>
				<key>text</key>
				<string>Archive done task</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>04B611D2-60C3-4A45-974E-14FB1E645891</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lsetup</string>
				<key>text</key>
				<string>Enter your Todo.txt path to Argument</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>33D11BA4-138A-483F-89EA-1C7C09466AFF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>echo "{query}" &gt; path</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D8A3DDE7-64E6-4FC8-8FA6-8A6BEDD15E46</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred text format: 'lc task,date,time'

Further details can be viewed at the following URL.

http://github.com/catfist/Alfred-Add-to-Listacular</string>
	<key>uidata</key>
	<dict>
		<key>04B611D2-60C3-4A45-974E-14FB1E645891</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>18EC313A-B832-41EC-B78A-93BAC10DB181</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1BD61970-6BDD-4F3A-9C4E-9166B14B5D7C</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>305B59D7-7360-4D42-AC5B-AA904C714A48</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>33D11BA4-138A-483F-89EA-1C7C09466AFF</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>40179C3B-2B9E-4BFE-8C44-FB25EBB7A799</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>48D55CE6-B198-490E-9113-11D164AE2B86</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>D37322B4-A2B5-4A97-99D8-B35D65739A9E</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>D8A3DDE7-64E6-4FC8-8FA6-8A6BEDD15E46</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>E50E9B3A-EEA6-423E-AF2D-FBE10F5141A0</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/catfist/Alfred-Add-to-Listacular</string>
</dict>
</plist>
